<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bloom Hair - Home</title>
    @Styles.Render("~/Content/css")


</head>
<body>
    <div class="o-content-layout">
            <nav class="o-header__navbar navbar">
                <div class="container">
                    <div class="navbar-header">
                        <img src="~/assets/images/header-lipstick.png" />

                    </div>
                </div>
            </nav>

        @RenderBody()
    </div>
</body>
</html>

